*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
html::-webkit-scrollbar{
    width: 12px;
}
html::-webkit-scrollbar-track{
    background:#fff;
}
html::-webkit-scrollbar-thumb{
    background-color:#0d6efd;
    border-radius:0.5rem;
}
.section1{
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(rgba(61, 48, 48, 0.5), rgba(31, 26, 26, 0.5)),
    url(../gpaCalc/uni_cover_psd.jpg) no-repeat  center ;
    background-size: cover;
    
}

.separator{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
}
.line{
    width: 100%;
    max-width: 5.4rem;
    height: 0.2rem;
    background-color: #ffffff;
    position: relative;
}
.asterisk{
    font-size: 1.2rem;
    color: transparent;
    margin: 0 0.6rem;
    color: white;
}
.imagemethod{
    display: flex;
    justify-content: center;
   
}
.imagemethod img{
    width: 30px;
    height: 100%;
    width: 100%;
}
.meter{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px auto;
}
.gauge {
    width: 100%;
    max-width: 250px;
    font-family: "Roboto", sans-serif;
    font-size: 1.5rem;
    font-weight: 400;
    color: #004033;
  }
  
  .gauge__body {
    width: 100%;
    height: 0;
    padding-bottom: 50%;
    background: #b4c0be;
    position: relative;
    border-top-left-radius: 100% 200%;
    border-top-right-radius: 100% 200%;
    overflow: hidden;
  }
  
  .gauge__fill {
    position: absolute;
    top: 100%;
    left: 0;
    width: inherit;
    height: 100%;
    background: #009578;
    transform-origin: center top;
    transform: rotate(0.0turn);
    transition: transform 0.6s ease-out;
  }
  
  .gauge__cover {
    width: 75%;
    height: 150%;
    background: #ffffff;
    border-radius: 50%;
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translateX(-50%);
  
    /* Text */
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 25%;
    box-sizing: border-box;
  }
  
